<p> actionPatch.html </p>
<a href="/#/dossier/action/{{_id}}"> Retour Action </a>
<form name="myForm"class="row col-12" ng-submit="create(formData)" novalidate >

  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3">RefDossier</label>
    <input class="col-3" type="number" ng-model="formData.refDossier"  ng-value="action.refDossier" ng-required="false" >
    <label class="col-3">dateAction</label>
    <input class="col-3" type="date" ng-model="formData.dateAction"  ng-value="action.dateAction" ng-required="false" >
  </div>

  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3">commentaire</label>
    <input class="col-3" type="string" ng-model="formData.commentaire"  ng-value="action.commentaire" ng-required="false" >
    <label class="col-3">Temps passé</label>
    <input class="col-3" type="number" ng-model="formData.tempspasse"  ng-value="action.tempspasse" ng-required="false" >
  </div>

  <div class="input-group p1 col-12">
    <div class="input-group p1 col-6">
      <label> LISTE PORTEUR DISPO </label>
      <div ng-repeat="porteur in dossier_porteur" ng-if="!exist(porteur)">
        <span> {{porteur.lastname}} </span>
        <input type="button" value="+" ng-click="push(porteur)">
      </div>
    </div>
    <div class="input-group p1 col-6">
      <label> LISTE PORTEUR AFFILIÉ </label>
      <div ng-repeat="porteur in array_porteur">
        <span> {{porteur.lastname}} </span>
        <input type="button" value="-" ng-click="pull(porteur)">
      </div>
    </div>
  </div>

  <div class="input-group bg-base1 p1 col-12">
    <input type="submit" ng-disabled="myForm.$invalid" value="Envoyer" />
  </div>
</form>
