<form class="row col-12" name="myForm" ng-submit="create(formData,'Dossiers')" novalidate >
  <a href="/#/dossier" > Liste des dossiers </a>
  <br>
  <a href="/#/home"> home </a>

  <!--                        SAUT DE LIGNE                       -->
<div class="input-group bg-base1 p1 col-12">
  <label class="col-3">dateCreationPrevu</label>
  <input class="col-3" type="date" ng-model="formData.dateCreationPrevu" ng-required="false">

  <label class="col-3">dateCreationDossier</label>
  <input class="col-3" type="date" ng-model="formData.dateCreationDossier" ng-required="false"></input>
</div>
  <!--                        SAUT DE LIGNE                       -->

<div class="input-group bg-base1 p1 col-12">

  <label class="col-3">Enseigne</label>
  <input class="col-3" type="text" ng-model="formData.enseigne"  ng-required="false" ng-maxlength="15" >

  <label class="col-3"> adresse : </label>
  <input class="col-3" type="text" ng-model="formData.adress" ng-required="false">
</div>
<div class="input-group bg-base1 p1 col-12">
  <label class="col-3">codepostal:</label>
  <input class="col-3" type="text" ng-model="formData.codePostal" ng-required="false">

  <label class="col-3">ville :</label>
  <input class="col-3" type="text" ng-model="formData.ville" ng-required="false"></input>
</div>
  <!--                        SAUT DE LIGNE                       -->

<div class="input-group bg-base1 p1 col-12">
  <label class="col-3"> numFixe : </label>
  <input class="col-3" type="text" ng-model="formData.numFixe"  ng-required="false" ng-maxlength="15" >

  <label class="col-3"> numPortable : </label>
  <input class="col-3" type="text" ng-model="formData.numPortable" ng-required="false">
</div>
<div class="input-group bg-base1 p1 col-12">
  <label class="col-3"> siteWeb : </label>
  <input class="col-3" type="text" ng-model="formData.siteWeb" ng-required="false">
  <label class="col-3"> SIRET : </label>
  <input class="col-3" type="text" ng-model="formData.siret" ng-required="false">
</div>
<div class="input-group bg-base1 p1 col-12">
  <label class="col-3"> nbrSalarié : </label>
  <input class="col-3" type="Number" ng-model="formData.nbrSalarie" ng-required="false">

  <label class="col-3"> Gerant : </label>
  <input class="col-3" type="text" ng-model="formData.gerant" ng-required="false">
</div>

<div class="input-group p1 col-12">
  <div class="input-group p1 col-6">
    <label> LISTE PORTEUR DISPO </label>
    <p ng-repeat="porteur in porteurs.data" ng-hide="exist(porteur)"> {{porteur.lastname}} </option>
    <input type="button" value="+" ng-click="push(porteur)">
  </div>
  <div class="input-group p1 col-6">
    <label> LISTE PORTEUR AFFILIÉ </label>
    <p ng-repeat="porteur in array_porteur"> {{porteur.lastname}} </option>
    <input type="button" value="-" ng-click="pull(porteur)">
  </div>
</div>
  {{myForm.$invalid}}
<div class="input-group p1 col-12">
  <input class="col-2" type="submit" ng-disabled="myForm.$invalid" value="Envoyer" />
</div>


</form>
