
<p> Listes des dossiers : </p>
<br>
<a href="/#/dossier/create"> Creer un nouveau dossier </a>
<br>
<a href="/#/home"> home </a>
<br>
<!-- <label> Chercher dans le dossier d'id :<label> <input type="text" ng-model="id"> <a href="/#/dossier/{{id}}"> Rechercher </a> -->
<br>
<div class="input-group row bg-base1 p1 col-12">
  <label class="col-2">Enseigne </label>
  <label class="col-2">Adresse</label>
  <label class="col-2">Code Postal</label>
  <label class="col-2">Ville</label>
  <label class="col-2">date Dossier</label>
  <label class="col-2">Gerant</label>

</div>
<div class="row col-12" ng-repeat="dossier in dossiers.data">
  <div class="input-group row bg-base1 p1 col-12">

  <!-- <label>Enseigne</label> -->
  <a  class="col-2" href="/#/dossier/{{dossier._id}}" >{{dossier.enseigne}} </a>

  <!-- <label> adresse : </label> -->
  <span class="col-2 input">{{dossier.adress}} </span>
  <!-- <label>codepostal:</label> -->
  <span class="col-2 input">{{dossier.codePostal}} </span>
  <!-- <label>ville :</label> -->
  <span class="col-2 input">{{dossier.ville}}</span>
  <!-- <label>dateCreationDossier</label> -->
  <span class="col-2 input">{{dossier.dateCreationDossier}}</span>
  <!-- <label> Gerant : </label> -->
  <span class="col-2 input">{{dossier.gerant}}</span>



<!--
  <p> SIRET : </p>
  <p>{{dossier.siret}}</p><br>

  <p> nbrSalarié : </p>
  <p>{{dossier.nbrSalarie}} </p><br>

  <p> Gerant : </p>
  <p> {{dossier.gerant}}</p><br>
-->
</div>
