<p> FOLDERID.HTML <p>
  <a href="/#/dossier/patch/{{dossier._id}}"> Modifier </a>
  <br>
  <a href="/#/dossier/action/liste/{{dossier._id}}"> Voir les actions </a>
  <br>
  <a href="/#/dossier"> Retour Liste dossier </a>
<div class="row col-12">

  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3">dateCreationPrevu : </label>
    <span class=" input col-3">{{dossier.dateCreationPrevu}}</span>

    <label class="col-3">dateCreationDossier</label>
    <span class="input col-3">{{dossier.dateCreationDossier}}</span>
  </div>

  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3">Enseigne :</label>
    <span class="input col-3">{{dossier.enseigne}}</span>

    <label class="col-3"> adresse : </label>
    <span class=" input col-3">{{dossier.adress}} </span>
  </div>
  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3">codepostal:</label>
    <span class="input col-3">{{dossier.codePostal}} </span>

    <label class="col-3">ville :</label>
    <span class="input col-3">{{dossier.ville}}</span>
  </div>
  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3"> numFixe : </label>
    <span class="input col-3">{{dossier.numFixe}}</span>

    <label class="col-3"> numPortable : </label>
    <span class="input col-3">{{dossier.numPortable}}</span>
  </div>
  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3"> siteWeb : </label>
    <a class="input col-3" href="{{dossier.siteWeb}}">{{dossier.siteWeb}}</a>

    <label class="col-3"> SIRET : </label>
    <span class=" input col-3">{{dossier.siret}}</span>
  </div>
  <div class="input-group bg-base1 p1 col-12">
    <label> nbrSalarié : </label>
    <span class="input ">{{dossier.nbrSalarie}} </span>

    <label> Gerant : </label>
    <span class="input"> {{dossier.gerant}}</span>
  </div>
  <label> Porteur </label>
  <div ng-repeat="porteur in dossier.listePorteur">
     <a class ="input" href="/#/porteur/{{porteur._id}}"> ---> {{porteur.lastname}} </a>
  </div>
