<form name="myForm" class="row col-12"ng-submit="patchObject('dossiers',formData)" novalidate >
  <a href="/#/dossier" > Liste des dossiers </a>
  <br>
  <a href="/#/home"> home </a>

  <!--                        SAUT DE LIGNE                       -->
  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3">dateCreationPrevu</label>
    <input class="col-3" type="date" ng-model="formData.dateCreationPrevu" ng-required="false" ng-value="dossier.dateCreationPrevu">
    <label class="col-3">dateCreationDossier</label>
    <input class="col-3" type="date" ng-model="formData.dateCreationDossier" ng-required="false" ng-value="dossier.dateCreationDossier">
  </div>
  <!--                        SAUT DE LIGNE                       -->

  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3">Enseigne</label>
    <input class="col-3" type="text" ng-model="formData.enseigne"  ng-required="false" ng-maxlength="15"  ng-value="dossier.enseigne">
    <label class="col-3"> adresse : </label>
    <input class="col-3" type="text" ng-model="formData.adress" ng-required="false" ng-value="dossier.adress">
  </div>

  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3">codepostal:</label>
    <input class="col-3" type="text" ng-model="formData.codePostal" ng-required="false" ng-value="dossier.codePostal">

    <label class="col-3">ville :</label>
    <input class="col-3" type="text" ng-model="formData.ville" ng-required="false" ng-value="dossier.ville"></input>
  </div>

  <!--                        SAUT DE LIGNE                       -->

  <div class="input-group bg-base1 p1 col-12">

    <label class="col-3"> numFixe : </label>
    <input class="col-3" type="text" ng-model="formData.numFixe"  ng-required="false" ng-maxlength="15" ng-value="dossier.numFixe">
    <label class="col-3"> numPortable : </label>
    <input class="col-3" type="text" ng-model="formData.numPortable" ng-required="false" ng-value="dossier.numPortable">
  </div>

  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3"> siteWeb : </label>
    <input class="col-3" type="text" ng-model="formData.siteWeb" ng-required="false" ng-value="dossier.siteWeb">
    <label class="col-3">  SIRET : </label>
    <input class="col-3" type="text" ng-model="formData.siret" ng-required="false" ng-value="dossier.siret">
  </div>

  <div class="input-group bg-base1 p1 col-12">
    <label class="col-3"> nbrSalarié : </label>
    <input class="col-3" type="Number" ng-model="formData.nbrSalarie" ng-required="false" ng-value="dossier.nbrSalarie">
    <label class="col-3"> Gerant : </label>
    <input class="col-3" type="text" ng-model="formData.gerant" ng-required="false" ng-value="dossier.gerant">
  </div>

  <div class="input-group  p1 col-12">
    <div class="input-group p1 col-6">
      <label> LISTE PORTEUR DISPO </label>
      <div ng-repeat="porteur in porteurs.data" ng-if="!exist(porteur)">
        <span > {{porteur.lastname}} </span>
        <input type="button" value="+" ng-click="push(porteur)">
      </div>
    </div>
    <div class="input-group p1 col-6">
      <label> LISTE PORTEUR AFFILIÉ </label>
      <div ng-repeat="porteur in array_porteur">
        <span > {{porteur.lastname}} </span>
        <input type="button" value="-" ng-click="pull(porteur)">
      </div>
  </div>
</div>
  {{myForm.$invalid}}
  <div class="input-group p1 col-6">
    <input type="submit" ng-disabled="myForm.$invalid" value="Envoyer" href="/#/dossier/_id"/>
  </div>
</form>
