
<p> Listes des dossiers : </p>
<br>
<a href="/#/dossier/create"> Creer un nouveau dossier </a>
<br>
<a href="/#/home"> home </a>
<br>
<!-- <label> Chercher dans le dossier d'id :<label> <input type="text" ng-model="id"> <a href="/#/dossier/{{id}}"> Rechercher </a> -->
<br>

<div class="row col-12" ng-repeat="dossier in dossiers.data">

  <a  href="/#/dossier/{{dossier._id}}" >{{dossier.enseigne}} </a>
  <label>dateCreationPrevu : </label>
  <span class="input">{{dossier.dateCreationPrevu}}</span>
  <br>
  <label>dateCreationDossier</label>
  <span class="input">{{dossier.dateCreationDossier}}</span>
  <br>
  <label>Enseigne</label>
  <span class="input">{{dossier.enseigne}}</span>
  <br>
  <label> adresse : </label>
  <span class="input">{{dossier.adress}} </span><br>

  <label>codepostal:</label>
  <span class="input">{{dossier.codePostal}} </span>
  <br>
  <label>ville :</label>
  <span class="input">{{dossier.ville}}</span>

  <br>
  <label> numFixe : </label>
  <span class="input">{{dossier.numFixe}}</span>
  <br>
  <label> numPortable : </label>
  <span class="input">{{dossier.numPortable}}</span>

  <label> siteWeb : </label>
  <a href="{{dossier.siteWeb}}">{{dossier.siteWeb}}</a><br>
<!--
  <p> SIRET : </p>
  <p>{{dossier.siret}}</p><br>

  <p> nbrSalarié : </p>
  <p>{{dossier.nbrSalarie}} </p><br>

  <p> Gerant : </p>
  <p> {{dossier.gerant}}</p><br>
-->
  <p> - - - - - - - - - - - - - -   - - - - - - - -   - -</p>
</div>
