<p> PORTEURID.HTML <p>
<a href="/#/porteur/patch/{{porteur._id}}"> Modifier </a>  <br>
<a href="/#/porteur"> retour liste </a>   <br>
<a href="/#/porteur/actions/{{porteur._id}}"> Voir ses actions </a>   <br>
<a href="/#/porteur/dossiers/{{porteur._id}}"> Voir ses dossiers </a> <br>
  <p>Nom : </p>
  <p >{{porteur.lastname}}</p>
  <br>
  <p>Prenom</p>
  <p>{{porteur.firstname}}</p>
  <br>
  <p>Sexe</p>
  <p>{{porteur.sexe}}</p>
  <br>
  <p> Date de naissance : </p>
  <p>{{porteur.birthDate}} </p><br>

  <p>Adresse:</p>
  <p>{{porteur.adress}} </p>
  <br>

  <p>Ville:</p>
  <p>{{porteur.city}} </p>
  <br>

  <p>Code Postale:</p>
  <p>{{porteur.zipCode}} </p>
  <br>

  <p>Numero de fixe:</p>
  <p>{{porteur.landLine}} </p>
  <br>

  <p>Numero de portable:</p>
  <p>{{porteur.mobileNumber}} </p>
  <br>

  <p>fax:</p>
  <p>{{porteur.fax}} </p>
  <br>

  <p>email:</p>
  <p>{{porteur.email}} </p>
  <br>

  <!-- situationFamiliale -->
  <p>cotorep:</p>
  <p>{{porteur.cotorep}} </p>
  <br>

  <p>Enfant a charge:</p>
  <p>{{porteur.dependentChild}} </p>
  <br>

  <!-- formation -->
  <p>Detail Formation ::</p>
  <p>{{porteur.formationDetail}} </p>
  <br>

  <!-- qualification -->

  <p>Date inscriion ANPE :</p>
  <p>{{porteur.anpeRegistrationDate}} </p>
  <br>

  <p>ID ANPE :</p>
  <p>{{porteur.idANPE}} </p>
  <br>

  <!-- indemnité -->
  <p> Experience :</p>
  <p>{{porteur.experience}} </p>
  <br>

  <p>Année(s) d'experience ::</p>
  <p>{{porteur.nbrAnneeExperience}} </p>
  <br>

  <p>Detail experience :</p>
  <p>{{porteur.expDetail}} </p>
  <br>
