
<p> Listes des ps : </p>
<br>
<a href="/#/porteur/create"> Creer un nouveau porteur </a>
<br>
<a href="/#/home"> home </a>
<br>
<!-- <label> Chercher dans le porteur d'id :<label> <input type="text" ng-model="id"> <a href="/#/porteur/{{id}}"> Rechercher </a> -->
<br>
<div class="row col-12">
  <div class="input-group bg-base1 p1 col-12">
    <label class="col-2">Nom | </label>
    <label class="col-2">Prenom | </label>
    <label class="col-2">Sexe | </label>
    <label class="col-2">Naissance | </label>
    <label class="col-2">Adresse | </label>
    <label class="col-2">Ville | </label>
  </div>
  <div ng-repeat="porteur in porteurs.data">
    <div class="input-group bg-base1 p1 col-12">
      <!-- <label class="col-2">Nom : </label> -->
      <a class="input col-2"href="/#/porteur/{{porteur._id}}">{{porteur.lastname}}</a>
      <!-- <label class="col-2">Prenom</label> -->
      <span  class="input col-2">{{porteur.firstname}}</span>
       <!-- <label>Sexe</label> -->
      <span class="input col-2">{{porteur.sexe}}</span>
      <!-- <label> Date de naissance : </label> -->
      <span class="input col-2">{{porteur.birthDate}} </span>
      <!-- <label>Adresse:</label> -->
      <span class="input col-2">{{porteur.adress}} </span>
      <!-- <label>ville :</label> -->
      <span class="input col-2">{{porteur.city}}</span>
    </div>
  </div>
</div>
