<p> PORTEURID.HTML <p>
<a href="/#/porteur/patch/{{porteur._id}}"> Modifier </a>  <br>
<a href="/#/porteur"> retour liste </a>   <br>
<a href="/#/porteur/actions/{{porteur._id}}"> Voir ses actions </a>   <br>
<a href="/#/porteur/dossiers/{{porteur._id}}"> Voir ses dossiers </a> <br>
<div class="row lg-12">
  <div class="input-group bg-base1 p1 col-12">
    <label class="col-2">Nom : </label>
    <span class="input col-4">{{porteur.lastname}}</span>

    <label class="col-2">Prenom</label>
    <span class="input col-4">{{porteur.firstname}}</span>
  </div>
  <div class="input-group bg-base1 p1 col-12">
    <label class="col-2">Sexe</label>
    <span class="input col-4">{{porteur.sexe}}</span>

    <label class="col-2"> Date de naissance : </label>
    <span class="input col-4">{{porteur.birthDate}} </span>
  </div>
  <div class="input-group bg-base1 p1 col-12">
    <label class="col-2">Adresse:</label>
    <span class="input col-2">{{porteur.adress}} </span>

    <label class="col-2">Ville:</label>
    <span class="input col-2">{{porteur.city}} </span>

    <label class="col-2">Code Postale:</label>
    <span class="input col-2">{{porteur.zipCode}} </span>
  </div>
  <div class="input-group bg-base1 p1 col-12">

    <label class="col-2">Numero de fixe:</label>
    <span class="input col-2"> {{porteur.landLine}} </span>

    <label class="col-2">Numero de portable:</label>
    <span class="input col-2">{{porteur.mobileNumber}} </span>

    <label class="col-2">fax:</label>
    <span class="input col-2">{{porteur.fax}} </span>
  </div>

  <div class="input-group bg-base1 p1 col-12">
    <label class="col-2">email:</label>
    <span class="input col-10">{{porteur.email}} </span>
  </div>

  <div class="input-group bg-base1 p1 col-12">
    <label class="col-2">cotorep:</label>
    <span class="input col-4"> {{porteur.cotorep}} </span>

    <label class="col-2">Enfant a charge:</label>
    <span class="input col-4">{{porteur.dependentChild}} </span>
  </div>

    <!-- formation -->
    <div class="input-group bg-base1 p1 col-12">

      <label class="col-2">Detail Formation ::</label>
      <span class="input col-10">{{porteur.formationDetail}} </span>
    </div>
    <!-- qualification -->
    <div class="input-group bg-base1 p1 col-12">
      <label class="col-2">Date inscription ANPE :</label>
      <span class="input col-4">{{porteur.anpeRegistrationDate}} </span>
      <label class="col-2">ID ANPE :</label>
      <span class="input col-4">{{porteur.idANPE}} </span>
    </div>

    <div class="input-group bg-base1 p1 col-12">
      <label class="col-2"> Experience :</label>
      <span class="input col-4">{{porteur.experience}} </span>

      <label class="col-2">Année(s) d'experience ::</label>
      <span class="input col-4">{{porteur.nbrAnneeExperience}} </span>
    </div>
    <div class="input-group bg-base1 p1 col-12">
      <label class="col-2">Detail experience :</label>
      <span class="input col-10">{{porteur.expDetail}} </span>
    </div>
  </div>
